Instant-Flow/健康状態報告.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"体温","type":"string","x-ms-dynamically-added":true,"description":"検温結果を選択してください。","x-ms-content-hint":"TEXT","enum":["37度未満","37度以上のため自宅待機"]},"text_1":{"title":"呼吸器症状","type":"string","x-ms-dynamically-added":true,"description":"「あり/なし」を選択してください。","x-ms-content-hint":"TEXT","enum":["あり","なし"]},"location":{"type":"object","properties":{"fullAddress":{"title":"完全なアドレス","type":"string","x-ms-dynamically-added":false}}},"email":{"title":"GL","type":"string","format":"email","x-ms-dynamically-added":true,"description":"waki@dcinc.co.jp","x-ms-content-hint":"EMAIL"},"email_1":{"title":"AL","type":"string","format":"email","x-ms-dynamically-added":true,"description":"hayakawa_j@dcinc.co.jp","x-ms-content-hint":"EMAIL"},"text_2":{"title":"職番＋名前","type":"string","x-ms-dynamically-added":true,"description":"321早川","x-ms-content-hint":"TEXT"},"key-button-date":{"title":"日付","type":"string","x-ms-dynamically-added":false}},"required":["text","text_1","location","text_2","key-button-date"]},"headersSchema":{"x-ms-user-name-encoded":{"title":"ユーザー名","type":"string","format":"byte","x-ms-dynamically-added":false},"x-ms-user-email-encoded":{"title":"ユーザーの電子メール","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"GLとALのメールアドレスがdcinc.co.jpアカウントの場合のみ報告メールを送信する":{"actions":{"メール通知を送信する_(V3)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sendmail']['connectionId']"}},"method":"post","body":{"to":"@{variables('GL_mail')};","subject":"【報告】@{triggerBody()['key-button-date']} 朝の健康状態 @{triggerBody()['text_2']}","text":"<p>お疲れ様です。<br>\n@{triggerBody()['text_2']}です。<br>\n<br>\n@{triggerBody()['key-button-date']}の健康状態を報告します。<br>\n・体温：@{triggerBody()['text']}<br>\n・呼吸器症状：@{triggerBody()['text_1']}<br>\n<br>\n以上、よろしくお願いします。</p>","ishtml":true,"cc":"@{base64ToString(triggerOutputs()['headers']['x-ms-user-email-encoded'])};@{variables('AL_mail')}"},"path":"/v3/mail/send","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"ALメールアドレス設定スコープ":["Succeeded"]},"expression":{"and":[{"endsWith":["@variables('GL_mail')","dcinc.co.jp"]},{"not":{"endsWith":["@variables('AL_mail')","dcinc.co.jp"]}}]},"type":"If"},"GL_mail変数を初期化する":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"GL_mail","type":"string","value":"@triggerBody()?['email']"}]},"description":"waki@dcinc.co.jp"},"AL_mail変数を初期化する":{"runAfter":{"GL_mail変数を初期化する":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AL_mail","type":"string","value":"@triggerBody()?['email_1']"}]},"description":"hayakawa_j@dcinc.co.jp"},"GLメールアドレス設定スコープ":{"actions":{"GLメールアドレスが未入力の場合、デフォルト値を使う":{"actions":{"GL_mail変数の設定":{"runAfter":{},"type":"SetVariable","inputs":{"name":"GL_mail","value":"waki@dcinc.co.jp"}}},"runAfter":{},"expression":{"equals":["@length(trim(variables('GL_mail')))",0]},"type":"If"}},"runAfter":{"AL_mail変数を初期化する":["Succeeded"]},"type":"Scope"},"ALメールアドレス設定スコープ":{"actions":{"ALメールアドレスが未入力の場合、デフォルト値を使う":{"actions":{"AL_mail変数の設定":{"runAfter":{},"type":"SetVariable","inputs":{"name":"AL_mail","value":"hayakawa_j@dcinc.co.jp"}}},"runAfter":{},"expression":{"equals":["@length(trim(variables('AL_mail')))",0]},"type":"If"}},"runAfter":{"GLメールアドレス設定スコープ":["Succeeded"]},"type":"Scope"}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}}]}